<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container text-center pt-lg-5">
        <h1>About Us</h1>
        <p class="pt-lg-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam minus ratione impedit illo libero magnam
            officiis, distinctio odit quibusdam? Voluptatibus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos sint quas adipisci placeat deleniti perspiciatis, necessitatibus obcaecati similique dolorem nihil?</p>
    </div>
</body>

</html>